@model WebApplication6.Models.IndexViewModel
@{
    ViewBag.Title = "Repositories GitHub";
}
<div>
    <h1>Meus repositórios</h1>
    <ul>
        @foreach (var repository in Model.Repositories)
        {
            <li><strong>Nome do repositório: </strong><a href="@repository.HtmlUrl">@repository.Name</a></li>
            <li><strong>Descrição: </strong>@repository.Description<br /></li>
            <li><strong>Números de Forks: </strong>@repository.ForksCount<br /></li>
            <li><strong>Clone URL: </strong>@repository.CloneUrl<br /></li>
            <li><strong>URL: </strong>@repository.HtmlUrl<br /></li>
            <li><strong>Criado em: </strong>@String.Format("{0:dd/MM/yyyy HH:mm:ss}", repository.Created)<br /></li>
        }
    </ul>
</div>

<div class="row">
    <div class="text-left">
        <button class="buttonList">Listar linguagens<i aria-hidden="true"></i></button>
    </div>
</div>

<!--Carrega Linguagens de programação-->
<div id="listGetAllLanguages"></div>
<!--Carrega Linguagens de programação-->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/gitHub")
